name: Lighthouse CI

on:
  workflow_dispatch: {}
  schedule:
    - cron: '0 4 * * 1'  # Mondays at 04:00 UTC

jobs:
  lhci:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Run Lighthouse CI
        uses: treosh/lighthouse-ci-action@v12
        with:
          configPath: .lighthouserc.json
          temporaryPublicStorage: true

