name: Lighthouse CI

on:
  workflow_dispatch: {}
  schedule:
    - cron: '0 4 * * 1'  # Mondays at 04:00 UTC

jobs:
  lhci:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Run Lighthouse CI
        uses: treosh/lighthouse-ci-action@v12
        with:
          configPath: .lighthouserc.json
          temporaryPublicStorage: true

